
body {
  margin: 0;
  font-family: Helvetica Neue;

  justify-content: center;
}

.logo {
  width: 200px;
  height: 100px;
  padding: 30px;
  margin: 5px;
  text-align: left;
  display: block; 
  margin: 20px 20px;
}

.nav-wrapper {
  color:black;
  padding: 10px;
  background-color:rgb(244, 238, 156);
  overflow: hidden;
  
}

a{
  color:black;
  font-size: 16px;
}

li {
  margin-top: 20px;
  color: white;
  font-size: 18px;
  text-align: center;
  margin: -4px 5px;
  text-decoration: none;
}

.nav-type {
  color: white;
  margin-top: 20px;
  background-color: #000000;
  color: #f2f2f2;
  font-size: 40px;
  font-family: "Calibri";
  text-align: center;
}

.SM {
  float: right;
  width:150px;
  margin-right: 70px;
} 

li {
  float: left;
  text-align: center;
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
  font-style: normal;
  color: white;
}

.welcome {
  text-align: center;
  font-style: normal;
  font-size: 22px;
  color:black;
  padding: 10px;
}

.banner-1 {
  font-style: light;
  text-align: center;
}

.paragraph-1 {
  color: black;
  font-size: 18px;
  font-style: light;
  text-align: left;
  margin: 0px 100px;
}

.student-stories-title {
  text-align: center;
  font-style: normal;
  font-size: 16px;
  color:rgb(237, 83, 83);
  padding: 10px;
}

.leaderboard-2 {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto
}

.languages-title {
  text-align: center;
  font-style: normal;
  font-size: 22px;
  color: rgb(0, 0, 0);
  padding: 10px;
}

.languages-page-img {
  margin: 10px 10px;
  padding: 20px;
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto
}

.languages-names {
  text-align: center;
  font-family: Helvetica Neue;
  font-style: normal;
  font-size: 28px;
  color:black;
  padding: 10px;
}

.language-list {
  display: inline;
  float: center;
}

.lang-list-btn {
  border: 0;
  /* background:rgb(230, 76, 76); */
  /* padding: 0.6rem; */
  color: black;
  margin: 1rem;
  width: auto;
  text-transform: uppercase;
  cursor: pointer;
  text-align: right;

}

.language-name {
  text-align: center;
  font-family: Helvetica Neue;
  font-style: normal;
  font-size: 16px;
  color:black;
  padding: 10px;
}

.language-imgs {
  width: 55px;
  height: 40px;
  display: block;
  float: left;
  border: 0.5px solid grey;
}

.reviews-title {
  text-align: center;
  font-family: Helvetica Neue;
  font-style: normal;
  font-size: 22px;
  color:rgb(0, 0, 0);
  padding: 10px;
}

.reviews-img {
  margin: 10px 10px;
  padding: 20px;
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto
}

.phrase-title {
  text-align: center;
  font-family: Helvetica Neue;
  font-style: normal;
  font-size: 22px;
  color: rgb(1, 1, 1);
  padding: 10px;
}

.phrase-img {
  margin: 10px 10px;
  padding: 20px;
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto
}

.phrases {
  display: inline-block;
  text-align: left; 
	width: 200px;
	min-width: 100px;
	max-width: 300px;
	padding: 30px 20px;
	vertical-align: top;
	margin: 5px;
  min-width: 25vh;
	min-height: 10vh;
	background: #8addf1;
  position: relative;

 
  border-radius: 5px;
  border-style: 1px solid;
}

.form-title {
  position:relative;
  text-align: center;
  font-style: normal;
  font-size: 22px;
  color: rgb(1, 1, 1);
  padding: 10px;
  border:0;
}

 .form {
  max-width: 500px;
  margin: 2rem auto;
  border: 2px solid;
  padding: 2rem;
  width: 600px;
  display: block;
  position: relative;
  width: 100%;
} 

#form-btn {
  border: 0;
  background:rgb(230, 76, 76);
  padding: 0.6rem;
  color: white;
  margin: 1rem;
  width: auto;
  text-transform: uppercase;
  cursor: pointer;
  text-align: right;
}

.input {
  width: 0px;
  height: 50px;
  background: #f3f0f1;
  position: relative;
  background: #f3f0f1;
  margin-bottom: 25px;
  border-radius: 32px;

}

.footer {
  text-align: center;
  font-style: thin;
  color: LightSteelBlue;
  color:black;
  padding: 10px;
  background-color:rgb(244, 238, 156);
  overflow: hidden;
 
} 

.meetup-title {
  text-align: center;
  font-style: normal;
  font-size: 22px;
  color:black;
  padding: 10px;
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto
}
 
.like-btn {
  cursor: pointer;
  color: yellow;
   border: 0;
  background:rgb(230, 76, 76);
  padding: 0.6rem;
  color: white;
  margin: 1rem;
  width: auto;
  text-transform: uppercase;
  cursor: pointer;
  text-align: right;
} 