
body {
  margin: 0;
  font-family: helvetica;
  color:black;
}

.logo {
  width: 200px;
  height: 100px;
  padding: 30px;
  margin: 5px;
  text-align: left;
  display: block; 
  margin: 20px 20px;
}

.nav-wrapper {
  font-family: Helvetica Neue;
  color:black;
  padding: 10px;
  background-color:rgb(244, 238, 156);
  overflow: hidden;
  
}

.li {
  margin-top: 20px;
  font-family: Helvetica Neue;
  color: white;
  font-size: 18px;
  text-align: center;
  margin: 5px 5px;
}

.nav-type {
  color: white;
  margin-top: 20px;
  background-color: #000000;
  color: #f2f2f2;
  font-size: 40px;
  font-family: "Calibri";
  text-align: center;
}

.SM {
  float: right;
  width:150px;
  margin-right: 70px;
} 

li {
  float: left;
  text-align: center;
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
  font-family: Helvetica Neue;
  font-style: normal;
  color: white;
}

.welcome {
  text-align: center;
  font-family: Helvetica Neue;
  font-style: normal;
  font-size: 32px;
  color:black;
  padding: 10px;
}

.banner-1 {
  font-style: light;
  text-align: center;
}

.paragraph-1 {
  color: black;
  font-family: Helvetica Neue;
  font-size: 18px;
  font-style: light;
  text-align: left;
  margin: 0px 100px;
}

.student-stories-title {
  text-align: center;
  font-family: Helvetica Neue;
  font-style: normal;
  font-size: 22px;
  color:rgb(237, 83, 83);
  padding: 10px;
}

.leaderboard-2 {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto
}

.languages-title {
  text-align: center;
  font-family: Helvetica Neue;
  font-style: normal;
  font-size: 32px;
  color: rgb(0, 0, 0);
  padding: 10px;
}

.languages-page-img {
  margin: 10px 10px;
  padding: 20px;
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto
}

.languages-names {
  text-align: center;
  font-family: Helvetica Neue;
  font-style: normal;
  font-size: 28px;
  color:black;
  padding: 10px;
}

.language-list {
  display: inline;
  float: center;
}

/* .language-list-button {
   background-color: blue;
} */

.language-name {
  text-align: center;
  font-family: Helvetica Neue;
  font-style: normal;
  font-size: 16px;
  color:black;
  padding: 10px;
}

.language-imgs {
  width: 55px;
  height: 40px;
  display: block;
  float: left;
  border: 0.5px solid grey;
}

.reviews-title {
  text-align: center;
  font-family: Helvetica Neue;
  font-style: normal;
  font-size: 32px;
  color:rgb(0, 0, 0);
  padding: 10px;
}

.reviews-img {
  margin: 10px 10px;
  padding: 20px;
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto
}

.phrase-title {
  text-align: center;
  font-family: Helvetica Neue;
  font-style: normal;
  font-size: 22px;
  color: rgb(1, 1, 1);
  padding: 10px;
}

.phrase-img {
  margin: 10px 10px;
  padding: 20px;
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto
}

.phrases {
  margin: 10px 10px;
  color:black;
  font-family: Helvetica Neue;
  font-size: 18px;
  text-align: center;
  /* margin: 0px 100px; */
  width:200px;
  margin-left: 450px;
}
.form-title {
  text-align: center;
  font-family: Helvetica Neue;
  font-style: normal;
  font-size: 22px;
  color: rgb(1, 1, 1);
  padding: 10px;
}

 .form {
  margin: 10px 10px;
  color:rgb(0, 0, 0);
  font-family: Helvetica Neue;
  font-size: 18px;
  text-align: center;
  margin: 0px 100px;

} 

.input {
  width: 0px;
  height: 50px;
  background: #f3f0f1;
  position: relative;
  background: #f3f0f1;
  margin-bottom: 25px;
  border-radius: 32px;
  text-align: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.footer {
  text-align: center;
  font-family: Helvetica Neue, thin;
  font-style: thin;
  color: LightSteelBlue;
 
} 