/* .nav-wrapper {
  color: tomato;
} */
body {
  margin: 0;
  font-family: helvetica;
  color:black;
}

.logo {
  width: 200px;
  height: 100px;
  padding: 30px;
  text-align: left;
  display: block; 
  /* justifyContent: center; */
  /* align: left; */
  margin: 5px;
}

.nav-wrapper {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(44, 157, 210);
  
}

li {
  float: left;
  text-align: center;
  color: white;
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.welcome{
  text-align: center;
  font-family: Helvetica Neue;
  font-style: normal;
  font-size: 28px;
  color:tomato;
  padding: 10px;

}

.SM {
  float: right;
  width:150px;
  margin-right: 70px;

} 

.banner-1 {
  color: black;
  font-family: Helvetica Neue;
  font-style: light;
  text-align: center;
  font-size: 18px;
}

.user-stories-title {
  text-align: center;
  font-family: Helvetica Neue;
  font-style: normal;
  font-size: 28px;
  color:tomato;
  padding: 10px;
}

.leaderboard-2 {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto
}

.footer {
  text-align: center;
  font-family: HelveticaNeue-Light;
  font-style: normal;
  color: LightSteelBlue;
}